<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ABC Company</title>
<link rel="stylesheet" href="/CSS/home.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"/>
</head>
<body>

<header>
  <nav class="navbar">
    <div class="left-nav">
      <div class="logo">ABC Company</div>
      <ul class="nav-links-left">
        <li><a href="/"><abbr title="Home"><i class="fa-solid fa-house"></i></abbr></a></li>
        <li><a href="/allEmployees"><abbr title="All Employees"><i class="fa-solid fa-list"></i></abbr></a></li>
      </ul>
    </div>
    <ul class="nav-links-right">
    
    <li>
       <a href="/login">Login</a>
    </li>
    <li>
        <a href="/signup">Sign-up</a>
    </li> 
    <li>
    	<a href="/addEmployee"><abbr title="Create a new employees"><i class="fa-solid fa-user-plus"></i></abbr></a>
    </li>
    </ul>
  </nav>
</header>

<main>
<div>
<h1>Welcome To ABC Company Private Limited</h1>

<img src="/images/abc.avif" width="360px"/>

<h3>About Us</h3>
<p>ABC Company is a forward-thinking IT solutions provider, dedicated to empowering businesses through cutting-edge technology and innovative digital services. Headquartered in [City, Country], we have been delivering scalable, secure, and customized software solutions since our inception.
With a passionate team of technology experts and a client-first philosophy, we help startups, SMEs, and enterprises embrace digital transformation and thrive in the ever-evolving tech landscape.</p>

<h3>Vision</h3>
<p>To become a globally recognized technology partner, delivering intelligent, impactful, and future-ready IT solutions that drive business success.</p>

<h3>Mission</h3>
<ul>
<li>To deliver reliable and innovative software products that align with our clients' goals.</li>
<li>To build long-term partnerships through transparency, integrity, and customer-centricity.</li>
<li>To foster a culture of continuous learning and technological excellence.</li>
</ul>

<h3>Services</h3>
<ul>
<li>Custom Software Development</li>
<li>Web Application Development</li>
<li>Mobile App Development</li>
<li>Cloud Solutions & DevOps</li>
<li>Enterprise Solutions</li>
<li>IT Consulting & Support</li>
</ul>

<div class="contact">
<address>
<h4>Contact Us</h4>
ABC Company Pvt. Ltd.<br>
Chennai, Tamil Nadu, India.<br>
+91 12345 67890<br>
<a href="">contact@abccompany.com</a><br>
<a href="">www.abccompany.com</a>
</address>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d225111.03822638592!2d80.04385848151072!3d13.047807814214309!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a5265ea4f7d3361%3A0x6e61a70b6863d433!2sChennai%2C%20Tamil%20Nadu!5e1!3m2!1sen!2sin!4v1747978016932!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

</div>
</main>

<footer>
<p>&copy; ABC Company pvt. ltd., All rights reserved.</p>
</footer>


</body>
</html>