<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ABC Company</title>
<link rel="stylesheet" href="/CSS/login.css">
</head>
<body>

<header>
  <nav class="navbar">
    <div class="left-nav">
      <div class="logo">ABC Company</div>
      <ul class="nav-links-left">
        <li><a href="/">Home</a></li>
        <li><a href="/allEmployees">All Employees</a></li>
      </ul>
    </div>
    <ul class="nav-links-right">
      <li><a href="/login">Log-in</a></li>
      <li><a href="/signup">Sign-up</a></li>
      <li><a href="/addEmployee">Create New Employee</a></li>
    </ul>
  </nav>
</header>

<main>
<h4>Signed-in Successfully</h4>
<button><a href="/">Return to Home</a></button>
</main>

<footer>
<p>&copy; ABC Company pvt. ltd., All rights reserved.</p>
</footer>

</body>
</html>